* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    background-color: aliceblue;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    text-align: right;
    max-width: 400px;
}

.left p {
    color: rgb(180, 180, 180);
    font-style: italic;
}

h2, p, input, button {
    margin: 5px 0px;
}

input {
    height: 30px;
    text-align: center;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px; 
}

#ex8-1, #ex9-1, #ex10-1, #ex10-2 {
    width: 100%;
    text-align: right;
    padding: 0px 30px;
}

button {
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
}

.result {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    border-top: 1px solid rgb(223, 231, 238);
    border-left: 1px solid rgb(223, 231, 238);
    border-radius: 20px;
}